@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* ==================== FONTS ==================== */
@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ==================== THEME ==================== */
@theme {
  /* Set as default sans-serif font */
  --font-sans: "Nunito", sans-serif;
}

/* ==================== GLOBAL APPLICATION ==================== */
@layer base {
  html {
    font-family: var(--font-sans);
  }
}